<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="panel-container">
        <div class="panel primary-panel double-panel">
            <form action="/post_login" method="get">
                <div class="information">
                    <span class="title">Login to Your Account</span>
                    <span class="paragraph">We can’t wait to see what you have to share</span>
                </div>
                <div class="form-container">
                    <div class="input-container">
                        <span class="bold-paragraph" style="color: var(--main)">EMAIL</span>
                        <input type="text" name="email" placeholder="Email"/>
                    </div>
                    <div class="input-container">
                        <span class="bold-paragraph" style="color: var(--main)">PASSWORD</span>
                        <input type="password" name="password" placeholder="Password"/>
                    </div>
                </div>
                <input type="submit" class="primary-button" value="Login">
            </form>
        </div>
        <div class="panel secondary-panel single-panel">
            <div class="redirect">
                <span class="title" style="color: var(--light-text);">New here?</span>
                <div class="redirect-description">
                    <span class="paragraph" style="text-align: center; color: var(--light-text);">Sign up and start sharing files with friends,<br>family, and co-workers</span>
                    <span class="paragraph" style="text-align: center; color: var(--light-text);">It is only a few clicks away and it is<br>easier than ever to share any kind of file<br>with anyone</span>
                </div>
                <button class="inverted-primary-button" onclick="location.href='signup'">Sign up</button>
            </div>
        </div>
    </div> 
</body>
</html>