<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="panel-container">
        <div class="panel primary-panel double-panel">
            <form>
                <div class="information">
                    <span class="title">Register an Account</span>
                    <span class="paragraph">Sharing has never been easier ever</span>
                </div>
                <div class="form-container">
                    <div class="input-container">
                        <span class="bold-paragraph" style="color: var(--main)">NAME</span>
                        <input type="text" name="name" placeholder="Name"/>
                    </div>
                    <div class="input-container">
                        <span class="bold-paragraph" style="color: var(--main)">EMAIL</span>
                        <input type="text" name="email" placeholder="Email"/>
                    </div>
                    <div class="input-container">
                        <span class="bold-paragraph" style="color: var(--main)">PASSWORD</span>
                        <input type="password" name="password" placeholder="Password"/>
                    </div>
                </div>
                <input type="submit" class="primary-button" value="Sign up">
            </form>
        </div>
        <div class="panel secondary-panel single-panel">
            <div class="redirect">
                <span class="title" style="color: var(--light-text);">Already a user?</span>
                <span class="paragraph" style="text-align: center; color: var(--light-text);">Login and start sharing again<br>we can't wait to see what new you have to share!</span>
                <button class="inverted-primary-button">Login</button>
            </div>
        </div>
    </div> 
</body>
</html>