<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if allowed %}
        <h3>Upload</h3>
        <form action = "/upload?group_id={{ group_id }}" method = "post" enctype="multipart/form-data">
            <input type="file" name="file" /><br><br>
            <input type = "submit" value="Upload">
        </form><br>
        <hr>
        <h3>Download</h3>
        <ul>
            {% for file in files %}
                <li>
                    <a href="/download?group_id={{ group_id }}&filename={{ file }}">
                        {{ file }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>ACCESS DENIED</h3>
        <p>My client states nuh uh</p>
    {% endif %}
</body>
</html>